h1 {
  font-family: "Dancing Script", cursive;
  font-size: 70px;
}

h2 {
  font-size: 50px;
  font-family: "Dancing Script", cursive;
}

h3 {
  font-size: 30px;
  font-family: "Roboto Slab", serif;
}

p {
  font-size: 18px;
  line-height: 1.5;
  font-family: "Roboto Slab", serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  color: #000;
}

img {
  max-width: 100%;
}

.section-title {
  font-size: 60px;
  text-align: center;
  border-top: 3px solid #002d75;
  border-bottom: 3px solid #002d75;
  color: #002d75;
  margin-bottom: 10px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.background {
  background-image: url(/images/fondo-pag-speciali.jpg?2f95c43d2f5c6ce37bf1838709b316a3);
  padding: 50px 0;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.cards .card {
  flex-basis: 28%;
  margin: 2%;
  padding: 15px;
  min-height: 400px;
  border: 3px solid #002d75;
  text-align: center;
  background: #fff;
}

.cards .card h3 {
  margin: 30px;
}

.cards .card a {
  color: #002d75;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  margin-top: 50px;
  transition: 0.2s;
}

.cards .card a:hover {
  color: #b2282f;
}

.brand {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: #daedf3;
}

.brand .brand img {
  width: 100px;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.navbar .nav-item {
  padding: 0 30px;
  list-style: none;
}

.navbar .nav-item .nav-link {
  list-style: none;
  text-decoration: none;
  color: #002d75;
  transition: 0.2s;
}

.navbar .nav-item .nav-link:hover {
  color: #b2282f;
}

footer {
  border-top: 1px solid #002d75;
  background-image: url(/images/footer-montagne-bottom.jpg?1dcd1a6e532195900c88406fef6f8f12);
  background-repeat: no-repeat;
  background-position: bottom;
}

footer .footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 50px;
  padding-bottom: 150px;
}

footer .footer .footer-logo-contacts {
  flex-basis: 20%;
  color: #828282;
}

footer .footer .links-collection {
  flex-basis: 20%;
}

footer .footer .links-collection h3 {
  padding-bottom: 20px;
}

footer .footer .links-collection ul li {
  list-style: none;
  padding: 5px 0;
}

footer .footer .links-collection ul li a {
  text-decoration: none;
  color: #828282;
  transition: 0.2s;
}

footer .footer .links-collection ul li a:hover {
  color: #000;
}

.hero h1 {
  color: #002d75;
  margin-bottom: 30px;
  text-align: center;
}

.hero img {
  display: block;
}

.hero p {
  font-size: 18px;
  font-weight: bold;
  color: #002d75;
  background: #b8dae4;
  padding: 0 50px;
  padding-bottom: 50px;
}

.prev-next {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 50px;
}

.prev-next a {
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  color: #002d75;
  padding: 10px;
  border: 1px solid #002d75;
  transition: 0.2s;
}

.prev-next a:hover {
  color: #b2282f;
}

