.background {
    background-image: url(../../../public/img/fondo-pag-speciali.jpg);
    padding: 50px 0;
}

.cards {
    @include flexRow('all-centered');
    flex-wrap: wrap;

    .card {
        flex-basis: 28%;
        margin: 2%;
        padding: 15px;
        min-height: 400px;
        border: 3px solid $brandMainBlue;
        text-align: center;
        background: $white;

        & h3 {
            margin: 30px;
        }

        & a {
            color: $brandMainBlue;
            font-size: 18px;
            font-weight: bold;
            text-decoration: none;
            margin-top: 50px;
            transition: .2s;
            
        }

        & a:hover {
            color: $brandMainRed;
        }
    }
}