* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    color: #000;
}

img {
    max-width: 100%;
}

// <h2> titoli di sezione
.section-title {
    font-size: 60px;
    text-align: center;
    border-top: 2px solid $brandMainBlue;
    border-bottom: 2px solid $brandMainBlue;
    color: $brandMainBlue;
    margin-bottom: 10px;
}

