footer {
    border-top: 1px solid $brandMainBlue;
    background-image: url('../../../public/img/footer-montagne-bottom.jpg');
    background-repeat: no-repeat;
    background-position: bottom;

    .footer {
        @include flexRow('space-between');
        flex-wrap: wrap;
        padding-top: 50px;
        padding-bottom: 150px;

        .footer-logo-contacts {
            flex-basis: 200px;
            padding-left: 50px;
            color: $footerLinksGrey;
        }

        .links-collection {
            flex-basis: 200px;

            & h3 {
                padding-bottom: 20px;
            }

            & ul li {
                list-style: none;
                padding: 5px 0;

                & a {
                    text-decoration: none;
                    color: $footerLinksGrey;
                    transition: .2s;
                }

                & a:hover {
                    color: $black;
                }
            }
        }

        .links-collection:last-child{
            padding-right: 50px; 
        }
    }
}


@media screen and (max-width: 1000px) {
    footer {

        .footer {
            @include flexCol('start');
    
            .footer-logo-contacts {
                padding: 0 50px; 
                color: $footerLinksGrey;
            }
    
            .links-collection {
                padding: 30px 50px; 
    
                & h3 {
                    font-size: 40px;
                    padding-bottom: 10px;
                }

                & a {
                    font-size: 20px;
                }
            }
        }
    }
}